<form method="POST" action="/contactPost">

  <fieldset>
    <legend>Contact Info</legend>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="email">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="email" style="width:55%;" placeholder="abcd@domain.com">
      </div>
    </div>
    <br/><br/>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="mobile">Mobile Number</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="mobile" style="width:55%;" placeholder="14575636789">
      </div>
    </div>
    <br/><br/>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="state">State</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="state" style="width:55%;" placeholder="california">
      </div>
    </div>
    <br/><br/>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="zipcode">Zipcode</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="zipcode" style="width:55%;" placeholder="12345">
      </div>
    </div>
    <br/><br/>
    <div class="col-sm-10">
      <button  type="submit" class="btn btn-success">Save</button>
    </div>
  </fieldset>
</form>
